<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Basket</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{styles/style.css}">

</head>

<body>
<div class="topnav" id="myTopnav">
    <img src="/Images/logo.png" alt="logo" class="logo">
    <a href="/">Home</a>
    <a href="#">About</a>
    <a href="/menu">Menu</a>
    <a href="#">Contact</a>
    <a href="/basket">Basket</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<h1 th:text="${total} + ' zł'"></h1>
<table class="pizza_table">
    <thead>
    <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Ingredients</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>
    </thead>
    <div class="basket_menu_item">
        <tr th:each="pizzaMapElement: ${basketmap}" >
            <td><img th:src="@{${'/Images/' + pizzaMapElement.getKey().getImg()+ '.png'}}" alt="Pizza"
                     class="basket_table_img"></td>
            <td th:text="${pizzaMapElement.getKey().name}"></td>
            <td th:text="${pizzaMapElement.getKey().desc}"></td>
            <td th:text="${pizzaMapElement.getKey().price} +' zł'"></td>
            <td th:text="${pizzaMapElement.getValue()}"></td>
            <td>
                <form class="removebutton" method="POST" th:action="'/removefrombasket/' + ${pizzaMapElement.getKey().getPizzaId()}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </div>

</table>
<form class="row g-3 m-3 " th:action="@{/order}" th:method="Post" th:object="${userForm}">
    <div class="col-auto">
        <input type="email" class="form-control" name="email" th:field="*{email}" placeholder="youremail@something.com" >
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Make Order</button>
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript" src="script.js"></script>
</body>

</html>