<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Pizza App</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="">
    <link rel="stylesheet" th:href="@{/styles/style.css}">

</head>

<body>

    <div id="nawigacja">
        <ul>
            <li class="menu-link"><a href="/menu" class="main_links">Menu</a></li>
            <li class="menu-link"><a href="/basket" class="main_links">Koszyk</a></li>
        </ul>
    </div>




<!--<form method="get" action="/basket">-->
<!--    <a href type="submit">Koszyk</a>-->
<!--</form>-->

<h1>Testowa pizzeria internetowa</h1>

</body>

</html>