<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Pizza App</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="">
    <link rel="stylesheet" th:href="@{/styles/style.css}">

</head>

<body>
<header>
    <div id="container">
        <img src="/Images/logo.png" alt="logo" class="logo">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/basket">Basket</a></li>
            </ul>
        </nav>
    </div>
</header>

<h1>Testowa pizzeria internetowa</h1>
<p class="info">Pizza neapolitańska jest produktem rzemieślniczym, co oznacza, że jest wytwarzana ręcznie i nigdy nie znajdziecie dwóch identycznych pizz. Zawsze będą się od siebie delikatnie różnić.

    Cała magia pizzy neapolitańskiej tkwi w oryginalnych, najwyższej jakości składnikach i skrupulatnym przestrzeganiu sztuki wyrobu ciasta. Oryginalna pizza neapolitańska nie ma nic wspólnego z cienkim, kruchym i sztywnym spodem. Ale też nie jest to gruby, bułkowaty placek, ociekający stopionym serem. Przeciwnie, jest prosta, lekka i aromatyczna.

    Do najbardziej tradycyjnych wariantów pizzy neapolitańskiej zaliczane są Margherita i Marinara:

    Margherita przyrządzana jest z dodatkiem pomidorów San Marzano, mozzarelli di bufala (lub mozzarelli fior di latte z mleka krowiego), liści świeżej bazylii i oliwy z oliwek extra virgin. Na wierzch pizzy można dodać startego sera grana padano.
    Marinara przyrządzana jest z pomidorami San Marzano, czosnkiem, oregano i oliwą z oliwek extra virgin.
    Najznakomitszą i najsmaczniejszą wersją pizzy Margherity jest Margherita DOP z dodatkiem mozzarelli di bufala Campana DOP oraz pochodzącymi z regionu Kampanii pomidorami San Marzano DOP. Jest to pizza premium i tylko taką Margharitę znaleźć można zarówno w N’Pizzy jak i w spokrewnionej z nią Restauracji Nolio.

    Co więcej, na wszystkich naszych pizzach używamy wyłącznie mozzarelli di bufala Campana DOP. Jest ona bardziej wilgotna (i sporo droższa) niż fior di latte z mleka krowiego, ale nieporównywalnie smaczniejsza i bardziej aromatyczna. Mozzarella di bufala podczas pieczenia wydziela dużą ilość serwatki, dlatego nasze pizze są dość mokre, ale to niewielka cena w zamian za niepowtarzalny smak, którego nie sposób uzyskać używając mozzarelli fior di latte, z mleka krowiego.

    Wygląd pizzy neapolitańskiej
    Pizza neapolitańska jest okrągła, ma średnicę ok. 32 cm (nie więcej niż 35 cm) i wyrośnięty brzeg o grubości ok. 1-2 cm, który okala cienki środek pizzy, o grubości ciasta nie przekraczającej 3-4 mm. Brzeg, przypieczony z wierzchu na złoty kolor, jest miękki i puszysty. Ciasto jest elastyczne i daje się łatwo złożyć. Środek pizzy pokrywają dodatki. Są one ściśle określone w przypadku klasycznej pizzy Marinary i Margherity. W pozostałych pizzach pizzaioli mają większa dowolność, aczkolwiek składniki powinny spełniać regulacje Stowarzyszenia Prawdziwej Pizzy Neapolitańskiej oraz zasady włoskiej gastronomii.

    Smak i aromat
    Pizza neapolitańska po wyciągnięciu z pieca intensywnie pachnie świeżym chlebem.  Pomidory i mozzarella dają jej delikatnie kwaskowy zapach. Powinno się także wyraźnie wyczuwać owocowe i pikantne aromaty oliwy i czosnku oraz świeżość ziół – bazylii i oregano. Smaki świetnie ze sobą harmonizują, są dobrze zbalansowane, a jednocześnie intensywne.

    Składniki
    Główne składniki na pizzy neapolitańskiej są najwyższej jakości i powinny pochodzić z włoskiego regionu  Kampania. Są to:

    soczyste pomidory San Marzano, które rosną na wulkanicznych polach na południe od Wezuwiusza
    kremowa mozzarella di bufala Campana, wytwarzana z mleka bawolic wypasanych w półdzikich warunkach na bagnach Kampanii, ewentualnie mozzarella z mleka krowiego fior di latte
    mąka pszenna, typu „O” lub „OO”
    oliwa z oliwek extra virgin
    Pełny opis składników, których używamy w N’Pizzy znajduje się dziale Składniki.

    Ciasto
    Ciasto w pizzy neapolitańskiej składa się wody, soli, drożdży i mąki. Czas wyrastania to minimum 8 godzin.

    Po wyrośnięciu ciasto jest porcjowane w kulki, następnie placki na pizzę są formowane ręcznie. Dzięki specjalnej technice formowania powietrze jest „wypychane” ze środka ciasta do brzegów, dzięki czemu środek pizzy jest cienki, a brzegi stają się puszyste i wyrośnięte.

    Wypiekanie
    Przez długie lata pizza neapolitańska musiała być wypiekana w piecu opalanym drewnem, który osiąga wymaganą temperaturę ok. 485oC (900oF) i w którym czas wypiekania pizzy wynosi 60 do 90 sekund.

    Jeszcze niedawno zastąpienie pieca opalanego drewnem piecem elektrycznym budziło dreszcze u wielu miłośników pizzy. Kojarzyło się bowiem z pizzeriami w turystycznych miejscowościach, w których serwuje się często niesmaczną i mrożoną pizzę.

    Jednak z upływem czasu, postępem technologicznym i rosnącym zanieczyszczeniem naszej planety, to podejście uległo zmianie i obecnie coraz więcej pizzaioli wybiera piece gazowe lub elektryczne. Wielu z nich uważa wręcz, że piece elektryczne są przyszłością pizzy neapolitańskiej.

    Argumentów za tą zmianą jest wiele. Jednym z nich jest fakt, że na jakość i smak pizzy wpływ ma znacznie więcej czynników niż tylko sposób wypiekania. Są to bezdyskusyjnie także praca i umiejętności pizzaiolo, rodzaj użytej mąki, technika jaką wyrobił ciasto oraz składniki, które położył na pizzy.

    Poza tym wiele miast europejskich, w tym Kraków, wprowadza zakaz używania pieców opalanych drewnem, ze względu na produkowane przez nie zanieczyszczenia.

    Przy tym wszystkim, piece elektryczne ostatniej generacji mają ten sam rodzaj płyty, na której wypiekana jest pizza. Jest to biscotto di Sorrento, czyli tradycyjnie podłoże gliniane, dzięki któremu pizza nie przywiera do powierzchni.

    Wreszcie, obecność pieca opalanego drewnem nie gwarantuje jakości serwowanej pizzy. I odwrotnie – pizza neapolitańska z pieca elektrycznego, przyrządzona zgodnie z regułami, niczym nie ustępuje tej wypieczonej w piecu opalanym drewnem.

    W N’Pizzy posiadamy piec elektryczny.

    Wartości kaloryczne
    Pizza Margherita ma ok. 800 kcal, Marinara ok. 500 kcal.</p>
<script src="script.js"></script>
</body>
</html>