body {
    margin: 0;
    background: floralwhite;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.logo {
    float: left;
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.4s;
}


nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: maroon;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: black;

    position: absolute;
    top: 0;
    width: 0;
    transition: all ease-in-out 200ms;
}

nav a:hover::before{
    width: 100%;
}
nav ul {
    margin: 0;
    padding: 20px;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 40px;
    position: relative;
}

#container {
    overflow: hidden;
    background-color: beige;
    padding: 20px;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    width: 100vw;
    position: sticky; /* Sticky/fixed navbar */
    position: -webkit-sticky;
    top: 0; /* At the top */
    z-index: 1;
}

header::after {
    content: ' ';
    display: table;
    clear: both;
}

.menu-link {
    display: inline-block;
    width: 150px;
    padding: 15px;
}

.menu_container {
    border: solid black 3px;
    border-radius: 10px;
    padding: 20px;
    content: "";
    width: 500px;
    margin: auto;
}

.menu_img {
    width: 500px;
    margin: auto;
    display: block;
}

.desc {
    display: block;
    text-align: center;
}

.basket_table_img {
    width: 150px;
}

.menu_img:hover {
    transform: scale(1.05);
}

.main_links {
    text-decoration: none;
    color: blue;
}

.main_links:hover {
    text-underline: none;
    color: inherit;
}

.main_links:active {
    background-color: blueviolet;
}

.info{
    position: relative;
}

.failure{
    color: red;
    text-align: center;
}

.success{
    color: blue;
    text-align: center;
}

video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.pizza_list{
    position: static;
}
